<div class="container mx-auto px-4">
	<nav class="flex items-center justify-between flex-wrap py-6 px-2">
		<div class="flex items-center">
			<span class="items-center text-3xl font-bold tracking-wide mr-8">India Open Source</span>
		</div>
		<div class="flex items-center text-bg">
			<div class="items-center flex-grow">
				<a href="#responsive-header" class="block font-base font-mono no-underline text-grey-darkest mr-8">
					Agenda
				</a>
			</div>
			<div class="flex-grow">
				<a href="#responsive-header" class="block font-base font-mono no-underline text-grey-darkest mr-8">
					Date
				</a>
			</div>
			<div class="flex-grow">
				<a href="#responsive-header" class="block font-base font-mono no-underline text-grey-darkest bg-yellow-400 px-3 py-2 rounded border-yellow-500 border-b-4 hover:border-yellow-600">
					Register
				</a>
			</div>
		</div>
	</nav>
</div>